@font-face {
  font-family: "Paladins";
  src: url("font/Paladins.woff2") format("woff2"),
    url("font/Paladins.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgb(82, 157, 255) 0%,
    #1a1a1a 100%
  );
  font-family: "Paladins";
  user-select: none;
}

.game {
  width: 1024px;
  height: 576px;
  position: relative;
  display: flex;
  flex-direction: column;
  bottom: 30px;
}

.game-display {
  background: url("img/border.svg") no-repeat center;
  background-size: contain;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.game-display::after {
  content: "";
  z-index: 100;
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("img/map.png") no-repeat center;
  background-size: 80%;
}

.game-players {
  position: relative;
  top: 12px;
  z-index: 200;
  display: flex;
  justify-content: center;
}
.game-players-img-left,
.game-players-img-right {
  padding: 0 40px;
}
.game-players-img-left {
  transform: scaleX(-1);
}

.game-player {
  width: 48px;
  height: 48px;
  margin: 5px;
  border: 4px solid #0e1220;
}
.game-player > img {
  width: 100%;
}

.game-timer {
  position: absolute;
  width: 174px;
  height: 40px;
  border: 4px solid #0e1220;
  left: calc(50% - 87px);
  top: -6px;
  color: rgb(173, 178, 196);
  font-size: 28px;
  text-align: center;
}

.game-greetings {
  width: 100%;
  position: absolute;
  top: calc(50% - 165px);
  z-index: 10000;
  text-align: center;
  color: rgb(173, 178, 196);
  text-shadow: 2px 2px 1px rgb(98, 101, 114);
  font-size: 32px;
}
.game-greetings > span {
  font-size: 48px;
}

.game-button {
  width: 392px;
  height: 90px;
  position: absolute;
  top: calc(50% - 45px);
  left: calc(50% - 196px);
  z-index: 10000;
  cursor: pointer;
  transition: transform 0.4s;
}

.game-button:hover {
  transform: scale(0.9);
}

.game-points {
  position: absolute;
  width: 300px;
  bottom: -12px;
  left: calc(50% - 150px);
  color: rgb(173, 178, 196);
  font-size: 24px;
}

.game-points-counter {
  width: 80px;
  display: inline-block;
  text-align: right;
}

.game-zone {
  position: relative;
  width: 86%;
  height: 500px;
  left: 7%;
  height: 86%;
  top: 7%;
}

.game-virus {
  width: 56px;
  height: 56px;
  position: absolute;
  cursor: pointer;
  will-change: transform;
  outline: none;
}

.game-virus--red {
  background: url("img/virus-red.png") no-repeat center;
  background-size: cover;
}

.game-virus--green {
  background: url("img/virus-green.png") no-repeat center;
  background-size: cover;
}

.game-virus--blue {
  background: url("img/virus-blue.png") no-repeat center;
  background-size: cover;
}

.game-virus--magenta {
  background: url("img/virus-magenta.png") no-repeat center;
  background-size: cover;
}

.game-virus-born {
  animation: virus-born 1.25s 1;
}

.game-virus-live {
  animation: virus-live 2s infinite;
}

.game-virus-kill {
  animation: virus-dead 1s infinite;
}

@keyframes virus-born {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(0.64);
  }
}

@keyframes virus-live {
  0% {
    transform: scale(0.65);
  }

  50% {
    transform: scale(0.8) rotate(14deg);
  }

  100% {
    transform: scale(0.65);
  }
}

@keyframes virus-dead {
  0% {
    transform: scale(0.65) rotate(-5deg);
  }

  50% {
    transform: scale(1) rotate(-150deg);
  }

  100% {
    transform: scale(0);
  }
}

@media screen and (max-width: 1023px) {
  .game {
    width: 100vw;
    height: 90vh;
    bottom: 0;
    overflow: hidden;
  }
  .game-players-img-left,
  .game-players-img-right {
    display: none;
  }
  .game-players,
  .game-timer {
    top: 0;
  }
  .game-display {
    background: none;
    height: 90%;
  }
  .game-display::after {
    background-size: auto;
  }
  .game-greetings > span {
    font-size: 24px;
  }

  .game-button {
    width: 320px;
    left: calc(50% - 160px);
  }
  .game-button > img {
    width: 100%;
  }
  .game-player {
    height: 42px;
  }
  .game-player > img {
    width: 100%;
    height: 100%;
  }
}
